<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bidding Process</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/biddingprocess_style.css">
</head>

<body>
    <div class="container">
        <br>
        <br>
        <p style="margin-top:1cm;text-align: left;">It’s sometimes difficult to decide how much to bid. You want to
            outbid other bidders and make a good deal. But what is the right amount to bid?</p>
        <p style="margin-top:1cm;text-align: left;">For most vehicles, we can provide an estimation of the price at
            which we think the seller will agree to assign the car. This estimation is based on our analysis of
            historical auction data, and permanently kept up to date. It's not a guaranteed reserve price, but it
            provides a good guideline. You will find the estimated price under the "Bidding advisor" section on the car
            detail page.</p>
        <p style="margin-top:1cm;text-align: left;">Of course, it’s then still up to the seller to accept your bid. But
            this little push in the right direction may significantly improve your chances of assignment.</p>
        <br>
        <h3>Bidding process</h3>
        <strong><br>
            STEP 1:
        </strong> Log in and go to the car detail page of the vehicle you want to place a bid on.
        <br>
        <br>

        <strong><br>
            STEP 2:
        </strong> Enter your bid: Type in the amount or use the + / - button. You cannot place a bid lower than the
        starting price or the current highest bid. You will immediately see the total price you will need to pay at that
        bid level, inclusive fees and taxes.
        <br>
        <br>

        <strong><br>
            STEP 3:
        </strong> Choose your bidding method:
        <br>
        <p style="text-align: left;">
            • <span style="text-decoration: underline;">Bid agent:</span> You enter the maximum amount that you are
            willing to bid for a vehicle. However, this is not the amount that will appear on the website. The bid agent
            will only bid the lowest amount possible to surpass the previous bid. And, it will keep doing this until
            your maximum amount is reached.<br>
            <br>
            • <span style="text-decoration: underline;">Maximum bid or direct bid:</span> You place a bid of € X, and
            that bid is immediately shown on the website. For your convenience, we recommend to place maximum bids
            immediately from the „My Bids” tab, visible only after login.
        </p>

        <strong><br>
            STEP 4:
        </strong> Follow up on bids using browser notifications or notifications on your smartphone via our mobile app.
        <br>
        <br>
        <h3 style="text-align: left;">Here are some special tips you can keep an eye out for:</h3>

        <p style="text-align: left;">
            <br>
            <strong>1. Download our mobile app&nbsp;<br>
            </strong>The AuctionGarage mobile app allows you to manage
            your bids, find cars and remain informed about the most important auction events.You’ll need to
            download the application from the App Store (iOS) or the Google Play Store
            (Android)<br>
            <br>
            Start up the app and log in using your ADESA user name and password. The app will remember your login
            details for 6 months, so don’t forget to change your password should your smartphone get lost or stolen.<br>
            <br>
            <br>
            <strong>2. Bidding tools<br></strong>Do you want to become a bidding professional?
            <a href> <span style="text-decoration: underline; color: #008c95;">Check out these tools</span></a> that are
            designed to increase your chances to win cars at AuctionGarage.


        </p>
        <h3 style="text-align: left;">Questions?</h3>
        <p style="text-align: left;">
            <br>
            Still have questions? Please don’t hesitate to <a href><span
                    style="text-decoration: underline; color: #008c95;">contact us</span></a>.
        </p>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>